body {
    background-color: #FFFFFF;
}

.header {
    color:#000000;
    font-family: 'Special Elite', cursive;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
}

.intro {
    color:#000000;
    font-family: 'Merriweather', serif;
    display: flex;
    align-items: center;
    margin:0 auto;
    width:500px;
}

 .intropicture {
    box-shadow: 5px 5px 10px grey;
} 

.introtext {
    width: 400px;
    margin-left: 20px;
}

.subheader {
    color:#000000;
    font-family: 'Special Elite', cursive;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 30px 0; 
}

.body {
    color: #000000;
    font-family: 'Merriweather', serif;
    text-align: center; 
}

.icons {
    margin: 50px;
    text-align: center;
}

.fa {
    padding: 15px; 
    width: 15px;
    height: 15px;
    text-decoration: none; 
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.5;
}

.fa-github {
    background: #000000;
    color: #FFFFFF;
}

.fa-linkedin {
    background: #000000;
    color: #FFFFFF;
}