body {
    background-color: #B5ADA5;
}

.header {
    color:#D7BBA2;
    font-family: 'Raleway', sans-serif;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
}

.intro {
    color:#9B7F5F;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    display: flex;
    align-items: center;
    margin:0 auto;
    width:500px;
}

.intropicture {
    border-radius: 50%;
    box-shadow: 5px 5px 10px grey;
    width: 200px;
    height: 200px;
}

.introtext {
    width: 300px;
    margin-left: 20px;
}